* {
  box-sizing: border-box;
}

body {
  background-image: url(https://i.ibb.co/BcfgWTH/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 16px;
}

a {
  color: #00ced1;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 1;
}
